$mainColor: #355c7d;
$secColor: #ffffe2;
$thirdColor:#0081FF;
$red:#F23434;
$gray:#999999;
$lightgray:#ddd;
$black:black;
$third:#ddd;
$darkblue:#306EFF;
$white:white;
$courage:#00EC98;

//**********************************price variables************************/
$BGgray:#F7F7F7;
$lightblue:#E3F2FD;
$darkgray:#212121;
$lightgray1:#555252;


$medium:#19206e;
$large:#141a66;
$small:#27317a;
$aqua:#00ebff;
$blue:#0087ff;
$table:#1b2376;



/*******************************
********responsive design*******/
$minMobile:"(min-width: 320px)";
$maxMobile:"(max-width: 481px)";
$minmobile:"(min-width: 767px)";
$maxmobile:"(max-width: 767px)";
$maxSmall:"(max-width: 991px)";
$minSmall:"(min-width: 767px)";
$minMedium:"(min-width: 992px)";
$minLarge:"(min-width: 1200px)";
$maxLarge:"(max-width: 1300px)";




$bitcoin:#f89f36;
$ethereum:#444444;
$dash:#1e7dd4;
$siacoin:#25e773;
$dogecoin:#B99E3D;
$ripple:#1487BD;
$shadow:#981D2D;
$neo:#58BF01;
$litecoin:#838383;